/* ! ROOT */
* {
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  a:hover{
    color: white;
  }
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-black);
  /* * VAR COLORS */
  --color-black: black;
  --color-white: white;
  --color-grey: rgba(230, 230, 230, 0.397);
  --color-yellow-light: #faef9b;
  --color-yellow-dark: #f6d776;
  --color-bleu-light: #6da4aa;
  --color-bleu-dark: #647d87;
  /* * END VAR COLORS */
}
/* ! END ROOT */
/* ? NAV BAR */
nav {
  background-color: var(--color-grey);
}
#brand {
  height: 60px;
  align-items: center;
}
.nav-item {
  justify-content: center;
  align-items: center;
}
.nav-items li a:hover {
  background-color: var(--color-yellow-dark);
  border-radius: 10px;
  font-weight: 600;
  color: var(--color-white);
}
.nav-items li a {
  font-weight: 600;
  color: var(--color-black);
}
.navbar-brand {
  font-weight: 800;
}
.button-cours {
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  font-weight: 900;
  color: var(--color-black);
  border: 2px var(--color-black) solid;
}
.button-cours:hover {
  background-color: var(--color-yellow-dark);
}
/* ? END NAV BAR */
/* ? INTRO */
#image {
  height: 500px;
}
.test {
  background-color: var(--color-grey);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.time {
  width: 90%;
  border-radius: 10px;
  margin: 0 50px;
  height: auto;
  position: absolute;
  margin-top: -60px;
  color: var(--color-black);
  background: rgba(123, 150, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
}
#FF {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
}
#trening {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}
.intro-text {
  margin: 0 60px;
  color: var(--color-black);
}
.intro-text h1 {
  font-weight: 800;
}
.intro-text h4 {
  font-weight: 700;
}
#brand {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-black);
  color: transparent;
}
/* hr{
  margin: 0 40px;
} */
/* ? END INTRO */
/* ? ABOUT ME*/
.about-me {
  margin-top: 70px;
  text-align: center;
  width: 100%;
}
.about-me h2 {
  font-weight: 800;
}
.about-me p {
  width: 60%;
  display: flex;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
}
.about-me img{
  width: 150px;
  position: relative;
  rotate: -90deg;
  margin-top: -20px;
  padding: 0;
}
/* ? END ABOUT ME*/
/* ? COURS DIV */
.cours{
  background-color: var(--color-grey);
  margin:  10px 50px;
  width: 90%;
  border-radius: 10px;
}
.cours h2{
  text-align: center;
  padding-top: 40px;
  font-weight: 800;
}
.items-cours{
  margin-top: 30px;
  width: 100%;
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.item-cours{
  background-color: #6da4aa75;
  margin-top: 30px;
  border-radius: 20px;
  margin-bottom: 50px;

  display: flex;
  width: 40%;  
  height: auto;
  justify-content: space-around;
  color: var(--color-black);
  /* background: rgba(123, 150, 255, 0.27); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
}
.item-cours div ul li{
  background-color: var(--color-bleu-dark);
  padding: 5px 15px ;
  border-radius: 20px;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-white);
}
.item-cours div ul{
  display: flex;
  font-weight: 600;
  list-style: none;
  margin-top: 10px;
  align-items: center;
}

.item-cours div ul li:last-child{
  margin-left: 10px;  
}
.item-cours div h5{
  width: 90%;
  margin-left: 15px;
  margin-bottom: 15px;
}
.card-image{
  align-items: center;
  display: flex;
  margin-right: 10px;
}
.card-image img{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-white);
  align-items: center;

}
.item-cours div h5 span{
  color: var(--color-black);
  font-weight: 800;
  font-size: 16px;
}
/* ? END COURS DIV */
/* ? GENE */
#tv {
  position: relative;
  width: auto;
  height: 250px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 30px 30px rgba(0,0,0,.15);
  
  transition: all .4s ease;
}
#tv:hover {
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.gene{
  margin-bottom: 70px;
  padding-top: 50px;
}
.gene h2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.gene-info{
  display: flex;
  justify-content: space-around;
}
.gene-info p{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
/* ? END GENE */
/* ? CONTACT */
.contact{
  background-color: var(--color-grey);
  margin:  150px 50px 20px 50px;
  width: 90%;
  border-radius: 10px;
  padding-bottom: 30px;
}
.contact h2{
  text-align: center;
  padding-top: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.contact-whatsapp,.contact-gmail{
  width: 90%;
  background-color: var(--color-yellow-light);
  margin: 0 5%;
  margin-top: 50px;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-gmail button,.contact-whatsapp button{
  border: none;
  color: var(--color-black);
  background-color: #f6d776;
  border-radius: 10px;
  padding: 5px 10px ;
  font-weight: 700;
}
.contact-gmail button:hover,.contact-whatsapp button:hover{
  background-color: #6da4aa;
  color: var(--color-white);
}
.contact-para h3{
  font-weight: 700;
  font-size: 24px;
}
.contact-para h5{
  font-weight: 600;
  font-size: 20px;
  text-transform: lowercase;
}
.contact-icon{
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact-info{
  margin-top: 40px;
}
.contact-paragraph h4{
  text-align: center;
  margin: 20px 100px;
  font-weight: 500;
}
/* ? END CONTACT */